{% include "htmltop.html" %}

<div class="about">
     <div class="container">
	     <div class="about-main">
	  	     
	  	    <div class="about-grid">
			  <div class="col-md-8 about-left">
				   <h3>NSS Unit-5</h3>
					<div class="about-bottom">
				      <p>                                       The national service scheme(NSS) is an Indian government sponsored public service program conducted by the Department of Youth Affairs and Sports of the government of India. Popularly known as NSS, the scheme was launched in Gandhiji’s centenary year, 1969. Aimed at developing student personality through community service, NSS is a voluntary association of Young people in college, Universities and +2 level working for a campus community linkage. The cardinal principle of NSS programme is that it is organized by the students themselves, and both studnts and teachers through their combined participation in community service, get a sense of involvement in the tasks of National building. We the NSS unit  V, one of the 12 units of CEG Anna University is involved in organizing the function thoorigai.<br><br>
The national service scheme (NSS) is an indian government sponsored public service program conducted by the Department of Youth Affairs and sports of government of India. Popularly known as NSS, scheme was launched in Gandhiji’s centenary year, 1969. Aimed at developing students personality through community service, NSS is a voluntary association of young people in college, Universities and +2 level working for a campus community linkage. The cardinal principle of NSS programme is that it is organized by the students themselves, and both students and teachers through their combined participation in community service, get a sense of involvement in the tasks of National building. We the NSS UNIT- V ,one of the 12 units of CEG Anna University is involved in organizing the function ‘THOORIGAI’<br><br>
For the first time, as the NSS unit V students, we proudly created a new website for the whole orphanages in Chennai. In that, an account was also created were the funds are distributed by auto process to the respective orphanages.<br><br>
                                 People staying in orphanages get food and shelter without any problem from the fund they get. But it is not sure that they are provided with enough clothes. So, the next objective is to collect old clothes from people who are capable to offer us wholeheartedly.<br><br>
                                Now, having made sure that the people in orphanages get their basic needs without hindrance, the thing we focused on next is to help people our fellow human beings who neither gets their basic needs nor stays in any of the orphanages, the people who stay on the road sides so we decided to collect money from students all over college and use it as a fund to provide them with one day lunch and with blankets and bedsheets that will help them in the least possible way. <br><br>

</p>
				    </div> 
				    
				   <div class="clearfix"> </div>
				</div>
				<div class="col-md-4 about-right">
					<h3>Thoorigai</h3>
					<div class="about-bottom">
				   <p> ''THOORIGAI'' is a social initiative presented by the NSS UNIT -5,CEG students. The name THOORIGAI in tamil means a paint brush. We have a blank wall and we have some paint but without a brush the wall cannot become a beautiful painting .Likewise some people are ready to help the needy and some people are in need of help. So there must be someone to guide these people. THOORIGAI like the paint brush guides these people the right way to serve the needy. THOORIGAI is started to make the life of these people colorful.</p>
				</div>
				<div class="clearfix"> </div>
					
				</div>
			
				</div>
			
		</div>
	
	</div>
</div>

{% include "htmlbottom.html" %}
