{% include "htmltop.html" %}

<div class="about">
     <div class="container">
	     <div class="about-main">
	  	     
	  	    <div class="about-grid">
			  <div class="col-md-8 about-left">
				   <h4>Thoorigai</h4>
				   <p> Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blah
				   Blah blah blah blahBlah blah blah blahBlah blah blah blahBlah</p>
					
				<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 about-right">
					<h3>NSS Unit-5</h3>
					<div class="about-bottom">
				      <p> blah blah blah blah Blah blah blah blah
				      Blah blah blah blah
				      Blah blah blah blah
				      Blah blah blah blah
				      Blah blah blah blah
				      Blah blah blah blah</p>
				    </div> 
				    
				   <div class="clearfix"> </div>
				</div>
			
				</div>
			
		</div>
	
	</div>
</div>

{% include "htmlbottom.html" %}
