{% include "htmltop.html" %}

<div class="get">
	<div class="container">
		<div class="get-main">
			  <h3>Contact us</h3>
			  <div class="col-md-6 get-left">
			  	 <p>Name</p>
			  	 <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			  	 <p>Email</p>
			  	 <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			  	 <p>Telephone</p>
			  	 <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			  	 <p>Website</p>
			  	 <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			  	 <input type="submit" value="Send">
			  </div>
			  <div class="col-md-6 get-right">
			  	<h4>Message</h4>
			  	<textarea   onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/> </textarea>
			  	<h3>Contact Us</h3>
					<p>Email : info@thoorigaicharity.org </p>
					<p>Contact:<br>
					SOUNDAR RAJAN  - (+91) 7708 102398<br>
					AIYAPPAN       - (+91) 9524 047530<br>
					PRADEEP        - (+91) 7200 420088<br>
					</p>
		 	  </div>
		 	<div class="clearfix"> </div>	
		</div>
	</div>
</div>

{% include "htmlbottom.html" %}
