<!DOCTYPE html>
<html>
<head>
<title>Thoorigai</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<link href='/static/css/googlefont.css' rel='stylesheet' type='text/css'>
<!--js-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="Orphanage, Old age Homes, Thoorigai" />
<meta name="author" content="Aswin | Harishankar" />
<meta name="description" content"" />
<script src="/static/js/jquery1-11-1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<!--header start here-->
<div class="mothergrid">
	<div class="container">
		<div class="header">
			<div class="logo">
				<a href="index.html"> <img src="/static/images/thoorigai.png" alt=""/ height=100px width=200px style="margin-top:-13%;"> </a>
			</div>
			<span class="menu"> <img src="/static/images/icon.png" alt=""/></span>
			<div class="clear"> </div>
			<div class="navg">
				<ul class="res">
					<li><a href="/">HOME</a></li>
					<li><a href="/orphanages">ORPHANAGES</a></li>
					<li><a href="/oldagehomes">OLD AGE HOMES</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>

